<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.base.mapper.LogininfoMapper">
  <resultMap id="BaseResultMap" type="com.demo.p2p.base.pojo.Logininfo">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <!--<result column="usertype" jdbcType="TINYINT" property="usertype" />-->
    <!--<result column="admin" jdbcType="BIT" property="admin" />-->
    <!--<result column="standbyone" jdbcType="VARCHAR" property="standbyone" />-->
    <!--<result column="standbytwo" jdbcType="VARCHAR" property="standbytwo" />-->
    <!--<result column="standbythree" jdbcType="BIGINT" property="standbythree" />-->
    <!--<result column="standbyfour" jdbcType="DECIMAL" property="standbyfour" />-->
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from logininfo
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.demo.p2p.base.pojo.Logininfo">
    insert into logininfo (id, username, password, 
      state, usertype, admin, 
      standbyone, standbytwo, standbythree, 
      standbyfour)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{usertype,jdbcType=TINYINT}, #{admin,jdbcType=BIT}, 
      #{standbyone,jdbcType=VARCHAR}, #{standbytwo,jdbcType=VARCHAR}, #{standbythree,jdbcType=BIGINT}, 
      #{standbyfour,jdbcType=DECIMAL})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.demo.p2p.base.pojo.Logininfo">
    update logininfo
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      usertype = #{usertype,jdbcType=TINYINT},
      admin = #{admin,jdbcType=BIT},
      standbyone = #{standbyone,jdbcType=VARCHAR},
      standbytwo = #{standbytwo,jdbcType=VARCHAR},
      standbythree = #{standbythree,jdbcType=BIGINT},
      standbyfour = #{standbyfour,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="base_column">
    id, username, password, state--, usertype, admin, standbyone, standbytwo, standbythree,
--     standbyfour
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from logininfo
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from logininfo
  </select>

  <select id="getCountByUsername" resultType="int">
    select count(id) from logininfo where username = #{username}
  </select>
</mapper>